* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: #141527;
  height: 100vh;
  text-align: center;
  width: 100%;
}

img {
  height: 300px;
}

h1 {
  display: inline;
}

.search {
  display: inline;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav {
  height: 50px;
}

