* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: #141527;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  grid-area: head;
  justify-content: space-between;
  padding: 10px;
}

.main {
  background: #141527;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-areas:
    'head head head'
    'nav body body';
}

img {
  height: 300px;
}

h1 {
  display: inline;
}
