* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.article {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
  width: 46%;
}

a {
  background-color: #B56AF0;
  color: #fff;
  height: 45px;
  margin: 10px 0px 0px 0px;
  padding: 15px 0px 10px 30px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}